@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap') ;

.containerPlanets {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.PlanetList {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.Title {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
  width: 179px;
}

.imgPlanets {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.planetNames {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 52px;
}

.namePlanets {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.Mercúrio {
  height: 31px;
  width: 41px;
}

.Vênus {
  height: 76px;
  width: 102px;
}

.Terra {
  height: 79px;
  width: 106px;
}

.Marte {
  height: 50px;
  width: 66px;
}

.Júpiter {
  height: 204px;
  width: 272px;
}

.Saturno {
  height: 210.9px;
  transform: rotate(-16.53deg);
  width: 282.41px;
}

.Urano {
  height: 109px;
  width: 144px;
}

.Netuno {
  height: 107px;
  width: 144px;
}
