.planet-card {
  display: flex;
  flex-direction: column;
}

.planet-name-tag {
  bottom: 0;
  position: absolute;
}

.planet-card:nth-child( 1 ) .planet-name-tag {
  left: 5.9%;
}

.planet-card:nth-child( 2 ) .planet-name-tag {
  left: 14.2%;
}

.planet-card:nth-child( 3 ) .planet-name-tag {
  left: 23.5%;
}

.planet-card:nth-child( 4 ) .planet-name-tag {
  left: 31.8%;
}

.planet-card:nth-child( 5 ) .planet-name-tag {
  left: 44.5%;
}

.planet-card:nth-child( 6 ) .planet-name-tag {
  left: 63.5%;
}

.planet-card:nth-child( 7 ) .planet-name-tag {
  left: 77.8%;
}

.planet-card:nth-child( 8 ) .planet-name-tag {
  left: 88.8%;
}

.planet-card:nth-child( 1 ) img {
  height: 31px;
  width: 41px;
}

.planet-card:nth-child( 2 ) img {
  height: 76px;
  width: 102px;
}

.planet-card:nth-child( 3 ) img {
  height: 79px;
  width: 106px;
}

.planet-card:nth-child( 4 ) img {
  height: 50px;
  width: 66px;
}

.planet-card:nth-child( 5 ) img {
  height: 204px;
  width: 272px;
}

.planet-card:nth-child( 6 ) img {
  height: 210.9px;
  width: 282.41px;
}

.planet-card:nth-child( 7 ) img {
  height: 109px;
  width: 144px;
}

.planet-card:nth-child( 8 ) img {
  height: 107px;
  width: 144px;
}
